body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #d5a86a;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

h2 {
  color: #d5a86a;
}

.product {
  background-color: white;
  border: 1px solid #d5a86a;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #d5a86a;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
